body {
    font-family: Arial, sans-serif;
}


.card {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;

}

.div-input {
    margin-bottom: 15px;
}

.div-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.div-input .text-input,
.select-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.submit-button {
    margin-bottom: 15px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}