body {
    font-family: Arial, sans-serif;
}


.genVector-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.genVector-group {
    margin-bottom: 15px;
}

.genVector-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.genVector-group input[type="number"],
.genVector-group input[type="decimal"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.genVector-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}