html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.navbar {
    width: 20%;
    height: 100%;
    float: left;
    background: #333;
    color: #fff;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}

.navbar .logo {
    width: 250px;
    height: 100%;
    padding: 10px 0;
    border-radius: 25%;
    align-items: center;
    margin: 0 auto;
}

.navbar .navbar-button {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
}

.navbar .navbar-button:hover {
    background-color: #444;
}

.header {
    padding: 20px;
    text-align: center;
}