@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
    flex-direction: column;
    display: flex;
    background-color: #242424f0;
}

footer {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    position: flex;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
}

footer i {
    font-size: 230%;
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 80%;
    height: 100vh;
    padding-left: 20%;
    padding-bottom: 20px;
    background-color: transparent;
    padding-bottom: 100px;
    flex: 1;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    padding: 20px;
    margin: 20px 20px;
    text-align: left;
    font-size: 120%;
    margin-top: 50px;
    margin-bottom: 70px;
}

.card h1 {
    font-size: 130%;
    color: #000;
}

.card-academic {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    padding: 20px;
    margin: 20px 20px;
    text-align: left;
    justify-content: baseline;
    font-size: 100%;
}

.back {
    background-color: #fff;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-grid {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    margin: 20px;
    text-align: center;
    font-size: 120%;
    width: 45%;
}

.card-grid h1 {
    font-size: 130%;
    color: #000;
}

.card-grid i {
    font-size: 230%;
}

.card-grid .ul-double-column {
    list-style: none;
    text-align: left;
    columns: 2;
    padding-inline-start: 10px;
}

.card-grid .ul-double-column li {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-grid .ul {
    list-style: none;
    text-align: left;
    padding-inline-start: 20px;
}

.card-grid .ul li {
    margin-bottom: 15px;
}

.card-project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    margin: 20px;
    text-align: center;
    font-size: 120%;
    width: 27%;
}

.card-project img {
    width: 100%;
    height: 50%;
}

.card-project h1 {
    font-size: 130%;
    color: #000;
}

.card-project i {
    font-size: 230%;
}

.navbar {
    width: 250px;
    height: 100%;
    background-color: #242424;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -250%;
    transition: left 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.79);
    z-index: 1000;
}

.navbar-toggle {
    width: 24px;
    height: 24px;
    background-image: url('https://cdn.iconscout.com/icon/free/png-256/free-three-116-433170.png');
    background-size: cover;
    background-color: transparent;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.79);
    z-index: 1001;
    visibility: hidden;
}

#navbar-toggle:checked~.navbar {
    left: 0;
}

.navbar .navbar-logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar .navbar-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.79);
}

.navbar .navbar-button {
    width: 100%;
    padding: 20px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif !important;
    font-size: 130%;
    cursor: pointer;
}

.navbar .navbar-button:hover {
    background-color: #171B20;
}

.header {
    margin: 0;
    text-align: center;
}

.chart {
    background: none repeat scroll 0 0 #a9a9a9;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 140px;
    height: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.chart>span {
    background-color: #242424;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 2px 9px rgba(255, 255, 255, 0.3) inset, 0 -2px 6px rgba(0, 0, 0, 0.4) inset;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 10%;
    }

    .grid {
        justify-content: center;
    }

    .card-grid {
        width: 90%;
    }

    .card-project {
        width: 90%;
    }

    .navbar {
        width: 100%;
        transition: left 0.3s ease;
    }

    #navbar-toggle:checked+.navbar {
        left: 0;
    }

    .navbar-toggle {
        visibility: visible;
    }

    .navbar .navbar-logo {
        display: none;
    }

    .navbar .navbar-button {
        width: auto;
        text-align: center;
    }
}