body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    flex-direction: column;
    display: flex;
    background-color: #25282c;
}

i {
    font-size: 300%;
}

footer {
    color: #fff;
    position: fixed;
    bottom: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 80%;
    height: 100%;
    padding-left: 20%;
    padding-bottom: 20px;
    background-color: transparent;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
    font-size: 120%;
}

.card-academic {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    padding: 20px;
    margin: 20px 20px;
    text-align: left;
    justify-content: baseline;
    font-size: 100%;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-grid {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.659);
    margin: 20px;
    text-align: center;
    font-size: 120%;
    width: 45%;
}

.card-grid .ul-double-column {
    list-style: none;
    text-align: left;
    columns: 2;
    padding-inline-start: 20px;
}

.card-grid .ul-double-column li {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-grid .ul {
    list-style: none;
    text-align: left;
    padding-inline-start: 20px;
}

.card-grid .ul li {
    margin-bottom: 15px;
}

.navbar {
    width: 20%;
    height: 100%;
    background-color: #0D1117;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.79);
}


.navbar .navbar-logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar .navbar-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.79);
}

.navbar .navbar-button {
    width: 100%;
    padding: 20px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 150%;
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
}

.navbar .navbar-button:hover {
    background-color: #171B20;
}

.header {
    margin: 0;
    text-align: center;
}

.chart {
    background: none repeat scroll 0 0 #555555;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 140px;
    height: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.chart>span {
    background-color: #0D1117;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 2px 9px rgba(255, 255, 255, 0.3) inset, 0 -2px 6px rgba(0, 0, 0, 0.4) inset;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
}